# <h1> Data Science Tools and Ecosystem</h1>

##In this notebook, Data Science Tools and Ecosystem are summarized

#In this notebook, Data Science Tools and Ecosystem are summarized

## In this notebook, Data Science Tools and Ecosystem are summarized

## Some of the popular languages that Data Scientists use are:

items = ["Python","R","SQL"]

In [4]:
Some of the popular languages that Data Scientists use are:
items = ["Python","R","SQL"]
print "items"

SyntaxError: invalid syntax (4120139380.py, line 1)

In [5]:
Some of the popular languages that Data Scientists use are:
items = ["Python","R","SQL"]

print outpu

SyntaxError: invalid syntax (1225817234.py, line 1)

In [6]:
Some of the popular languages that Data Scientists use are:
items = ["Python","R","SQL"]

print items

SyntaxError: invalid syntax (238759135.py, line 1)

In [7]:
Some of the popular languages that Data Scientists use are:
items = ["Python","R","SQL"]
print (items)

SyntaxError: invalid syntax (3452438867.py, line 1)

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. SciPy

# Data Science Tools

| TensorFlow |
| Apache Spark |
| Apache Hadoop |

# Data Science Tools

| Data Science Tools|
|-------------------|
| Tensor Flow       |
| Apache Spark      |
| TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

1+2=3
2*3=6

### Below are a few examples of evaluating arithmetic expressions in Python

x = 1+2=3
y = 2*3=6

print x
print y

### Below are a few examples of evaluating arithmetic expressions in Python

x = (1+2)
y = (2*3)

print (x)
print (y)

### Below are a few examples of evaluating arithmetic expressions in Python

x = (1+2)
y = (2*3)

In [8]:
This a simple arithmetic expression to mutiply then add integers

(3*4)+5

SyntaxError: invalid syntax (197614806.py, line 1)

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.

hours=200/60

In [11]:
# This will convert 200 minutes to hours by diving by 60.

hours=(200/60)

In [12]:
# This will convert 200 minutes to hours by diving by 60.

hours=(200/60)

print (hours)

3.3333333333333335

*Objectives:*

In [13]:
**Objectives:**
    
( - ) List popular languages for Data Science
( - ) Create a code cell to multiply and add numbers
( - ) Create a markdown cell to list data science libraries

SyntaxError: invalid syntax (421170510.py, line 1)

In [14]:
**Objectives:**
    
* List popular languages for Data Science
* Create a code cell to multiply and add numbers
* Create a markdown cell to list data science libraries

SyntaxError: invalid syntax (1480885004.py, line 1)

**Objectives:**
    
* List popular languages for Data Science
* Create a code cell to multiply and add numbers
* Create a markdown cell to list data science libraries

## author: Jonas Bomersbach